*{
    box-sizing:border-box;
}
div#wrapper, footer {
    margin: auto;
    width: 1000px;
    background-color: rgb(251, 235, 235);
    padding: 20px;
}
body{
    font-family: "arial", sans serif;
}
nav{
    margin-top:20px;
    margin-bottom:20px;
}

nav a{
    margin-right:20px;
}
section.visuals{
    text-align:right;
}
section.appel{
    float:left;
}
img.appel{
    width:497px;
}
img.visuals {
    width: 447px;
    margin-bottom: 13px;
}
img article{
    margin-top:20px;
    margin-bottom:20px;
}
article{
    display:inline-block;
    width:33%;
    padding-right:10px;
    vertical-align:top;
}
article:last-child{
    padding-right:0px;
}
footer{
    background-color:rgb(166,166,166);
    color:white;
}
footer a{
    color:white;
}


section.visual, section.appel {
    max-width: 47%;
}


#imagecontainer {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: flex;
}

.image {
    max-width: 100%;
}
img.article{
    margin-top:20px;
    margin-bottom:20px;
}

